<%= form_with(model: bibliographic_description_item, local: true) do |form| %>
  <% if bibliographic_description_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bibliographic_description_item.errors.count, "error") %> prohibited this bibliographic_description_item from being saved:</h2>

      <ul>
        <% bibliographic_description_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :source_style_id %>
    <%= form.text_field :source_style_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
